*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: Arial, sans-serif;
    background-color: #f6f6f6;
    color: #333;
}
.active{
    background-color: #f0f0f0;
    font-weight: bold;
}
.card {
    box-shadow: 0 3px 5px 1px rgba(0, 0, 0, 0.05);
}