@model MVC.Models.ApplicationUser

@{
    ViewData["Title"] = "Delete User";
}

<h1>Delete User</h1>

<div>
    <label>Name:</label> @Model.Name
</div>
<div>
    <label>Email:</label> @Model.Email
</div>
<div>
    <label>Role(s):</label>
    @if (ViewData["Roles"] != null)
    {
        var roles = (IEnumerable<string>)ViewData["Roles"];
        foreach (var role in roles)
        {
            <span>@role</span>

            <br />
        }
    }
</div>

<h4>Are you sure you want to delete this user?</h4>

<form asp-action="Delete" method="post">
    <input type="hidden" asp-for="Id" />
    <button type="submit" class="btn btn-danger">Yes, Delete</button>
    <a href="@Url.Action("Index")" class="btn btn-secondary">Cancel</a>
</form>
