html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
    padding-left: 250px; /* Match this with sidebar width */
}
* {
    box-sizing: border-box;
}
a {
    text-decoration: none;
}

.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 250px;
    z-index: 100;
    box-shadow: inset -1px 0 0 rgba(0, 0, 0, 0.1);
    overflow-y: auto; /* Enable scrolling if content is too tall */
}

.main-content {
    padding: 20px;
    width:100%

}

/* Optional: Style for active nav item */
.nav-link.active {
    background-color: rgba(255, 255, 255, 0.1);
    font-weight: 500;
}

/* Optional: Hover effect */
.nav-link:hover {
    background-color: rgba(255, 255, 255, 0.05);
}